.WINDOW {
	position: absolute;      /* OUTER に対して絶対座標 */
	border: 2px solid black;
	/*
	background:
		linear-gradient(217deg, rgba(0, 247, 255, 0.6), rgba(255,0,0,0) 70.71%),
		linear-gradient(127deg, rgba(130, 213, 216, 0.6), rgba(0,255,0,0) 70.71%),
		linear-gradient(336deg, rgba(23, 183, 189, 0.6), rgba(0,0,255,0) 70.71%);
	*/
	background: radial-gradient(rgba(138, 249, 255, 0.6), rgba(0, 247, 255, 0.6));
	backdrop-filter: blur(5px);
	width: 250px;
	height: 150px;
	min-width: 250px;
	min-height: 150px;

	box-shadow: 2px 2px 3px rgb(0, 0, 0);

	resize: both;            /* div の大きさを変更可能にする */
	overflow: hidden;        /* 必要 */
}
.WINDOW .TITLE {
	user-select: none;       /* テキスト選択を禁止 */
	border-bottom: 1px solid black;
	background: linear-gradient(to right, rgb(0, 255, 13), rgba(0, 247, 255));
	color: black;
	font-weight: bold;
	padding: 0.3em 0.5em;
	box-shadow: 0 1px 2px #669;

}
.WINDOW .CONTENTS {
	margin: 0px;
	padding: 0px;
	line-height: 1.5;
}

.WINDOW > .TITLE > .WINDOW_BUTTON{
	position: absolute;

	top: 0px;
	left: 0px;

	background-color: aquamarine;

	width: 100px;
	height: 34px;
}

.WINDOW > .TITLE > .WINDOW_BUTTON > button{
	height: 100%;
	width: 50%;
}

/*閉じるボタン*/
.WINDOW_EXIT_BTN{
	background-color: rgb(255, 117, 117);
}

.WINDOW_EXIT_BTN:hover{
	background-color: rgb(255, 78, 78);
}

.WINDOW_EXIT_BTN:active{
	background-color: rgb(255, 0, 0);
}